header {
    display: none;
}

footer {
    display: none;
}

.portlet-topper {
	display:none;
}

.portlet-header {
	display:none;
}

.portlet {
	margin-top: -40px;
	margin-bottom: 0px;
	background-color:white
}

.portlet-content {
	margin-top: -50px;
	margin-bottom: 0px;
	background-color:white
}

.control-menu {
	display: none;
}

.portlet-title-default {
	display:none;
}
#wrapper {
	margin-top: 0px;
}

.journal-content-article{
	background-color:white
	}